<script>
  fetch('https://v1.hitokoto.cn')
    .then(function (res){
      return res.json();
    })
    .then(function (data) {
      var hitokoto = document.getElementById('hitokoto');
      hitokoto.innerText = "『 " + data.hitokoto + " 』";
      var from = document.getElementById('hitokoto-from');
      from.innerText = "——" + data.from + "\b\b\b\b\b\b\b\b\b";
    })
    .catch(function (err) {
      console.error(err);
    })
</script>
<%- partial('_partial/head') %>
<body>
  <div id="container">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">

        <section id="main" class="body-wrap"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
